@font-face {
    font-family: 'Masque';
    src: url('../fonts/MASQUE__.ttf') format('truetype');
}


* {
    margin:0;
    padding:0;
    text-decoration: none;
    color: black;
    list-style-type: none;

}

html{
    width: 100%;
}
body{
    width: 100%;
    background-color: #f1f1f9;
}
body{
    background-color: #f1f1f9;
    width: 100%;
}

.navbar{
    height:80px;
    background-color:white;
    display:grid;
    grid-template-columns:50% 50%;
}


.reseaux{
    display:flex;
    justify-content:end;
}

.reseaux i{
    font-size: 40px;
    color: #004924;
    cursor: pointer ;
    margin: 15px 15px 0 0;
}

.reseaux i:hover{
    color: #151515;
    transition-duration: 0.5s;
}
.logo{
    display: flex;
}

.pages{
    display: flex;
    margin:auto auto auto 3%;
}

.pages a{
    font-size: 25px;
    margin:0 15px 0 0;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Masque';
    position: relative;
}

.pages a::after{
    position: absolute;
    content: "";
    bottom: -3px ;
    left: 50%;
    background-color:#004924;
    width: 0;
    height: 3px;
    transition: all .35s ease-in-out;
}

.pages a:hover::after{
    width:100%;
    left: 0;

}


.logo img{
    margin: 0px;
    width: 300px;
    height: 80px;
}

.logo img:hover{
    cursor: pointer;
}

.banniere{
    height: 50vh;
    background-image: url("../images/peugeot/p5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inter{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inter a{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    color: black;
}


@media screen and (max-width: 800px) {
    .pages{
        display: none;
    }
    .menu_plein{
        display: none;
    }
}

nav{
    display: none;
}

@media screen and (max-width:990px){
    footer{
        display: block;
    }
    nav{
        display: flex;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: #004924;
        z-index: 100;
    }

    nav ul li a{
        color: white;
    }
    .menu_plein{
        display: none;
    }
    iframe{
        margin-bottom: 50px;
    }
}
footer{
    margin-top: 100px;
    background-color: #004924;
    width: 100%;
    min-height: 150px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
}


footer .information{
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_footer img{
    width: 100%;
    height: 95%;
}

footer h2{
    color: white;
}

footer ul{
    padding-top: 15px;
}

footer li{
    padding-top: 10px;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline white;
}

.localisation{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.localisation img{
    max-width: 80%;
    max-height: 280px;
}

@media screen and (max-width:990px){
    footer{
        display: block;
    }
}

nav{
    display: none;
}


iframe {
    max-width: 100%;
    max-height: 200px;
}

@media screen and (max-width:990px){
    footer{
        display: block;
    }
    nav{
        display: flex;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: #004924;
        z-index: 100;
    }

    nav ul li a{
        color: white;
    }
    .menu_plein{
        display: none;
    }
}