.container{
    position: relative;
    display: flex;
    margin: auto;
    max-width: 1300px;
    background-color: white;
    margin-bottom: 150px;
    box-shadow: 15px 15px  15px 15px #d7d7d7 ;
    height: 100%;
} 
.border_haut{ 
    position: absolute;
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #004924;
    top: -5%;
    left: -3%;
    z-index: -1;
}

.border_bottom{
    position: absolute;
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #004924;
    bottom: -5%;
    right: -3%;
    z-index: 0;
}
/*slider*/
.slider {
    margin-right: 15px;
    margin-left: 15px;
}

.slider-viewport {
    margin-top: 15px ;
    width: 650px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider-content {
    display: flex;
    transition: 1s all;
    width: 100%;
}
.slider-content img {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

.slider-nav {
    width: 100%;
}
.slider-nav a {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin:  3px;
}

.slider-nav a:hover {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

/*information a droite du slider en grand ecran*/
.aside_info{
    width: 100%;
    margin-top: 15px;
}

.aside_info .title_aside{
    width: 100%;
    text-align: center;
}
.aside_information{
    padding: 0;
    margin: 30px 0 0 0;
}

.aside_information h2{
    color: grey;
    opacity: 60%;
    font-size: 30px;
}

.aside_information ul{
    margin-top: 50px;
}

.aside_information li{
    padding: 20px;
}

.button{
    z-index: 10;
    margin-top: 50px;
}

.button a{
    color: white;
    background-color: #004924;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button a:hover{
    box-shadow: 5px 5px 5px 5px #d7d7d7;
    transition: all .5s;
}
.sous_menu {
    display: none;
}

@media screen and (max-width: 1300px) {
    .container{
        width: 90vw;
    }
}

@media screen and (max-width: 1000px){
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 1068px){
    .container{
        display: block;
    }

    .slider{
        margin-top: 15px;
    }
    .slider-viewport {
        width: 100%;
    }
    .aside_information{
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .pages{
        display: none;
    }
    .menu_plein{
        display:none;
    }
    .sous_menu{
        display: block;
    }
}


@media screen and (max-width: 760px){
    .aside_information h2{
        color: grey;
        opacity: 60%;
        font-size: 30px;
    }



    .aside_information ul{
        margin-top: 5%;
    }

    .aside_information li{
        padding: 10px;
    }

    .slider-viewport {
        margin-top: 15px ;
        width: 100%;
    }

    .slider{
        margin: 0;
    }
    .slider-nav{
        text-align: center;
    }
    .border_haut{
        display: none;
    }
    .border_bottom{
        display: none;
    }
}
