* {
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    color: black;
}

body{
    width:100%;
}

.navbar{
    height:80px;
    background-color:white;
    display:grid;
    grid-template-columns:50% 50%;
}


.reseaux{
    display:flex;
    justify-content:end;
}

.reseaux i{
    font-size: 40px;
    color: #004924;
    cursor: pointer ;
    margin: 15px 15px 0 0;
}



.reseaux i:hover{
    color: #151515;
    transition-duration: 0.5s;
}
.logo{
    display: flex;
}

.pages{
    display: flex;
    margin:auto auto auto 3%;
}

.pages a{
    font-size: 25px;
    margin:0 15px 0 0;
    text-decoration: none;
    cursor: pointer;
}

.pages a:hover{
    margin-top: -3px;
    border-bottom: 3px solid #004924;
}


.logo img{
    margin: 0;
    width: 300px;
    height: 80px;
}

.logo img:hover{
    cursor: pointer;
}

body{
    width: 100%;
    height: 100%;
    background-color: #f1f1f9;
}

.banniere{
    width: 100%;
    height: 40vh;
    background-image: url("../images/banniere_208.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.inter{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inter a{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    color: black;
}
form{
    background-color: white;
    width: 80%;
    margin: 50px auto auto auto;
}

.start_form{
    display: grid;
    grid-template-columns: 50% 50%;
}

.sous_menu{
    display: none;
}
@media screen and (max-width: 800px){
    .start_form{
        display: block;
        width: 100%;
    }

    .pages{
        display: none;
    }

    form{
        width: 95%;
    }

}
label{
    display: block;
}

.Nom{
    padding-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.Telephone{
    padding-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.Date_Arriver{
    padding-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.Date_Depart{
    padding-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.email{
    padding-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.sujet{
    padding-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
input{
    border: none;
    background-color: #f1f1f9;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius:5px ;
    box-sizing: border-box;
}

input:focus{
    border: none;
    box-shadow: 2px 2px 2px 2px #f1f1f9;
}

.description{
    padding-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.description textarea{
    width: 100%;
    border: none;
    background-color: #f1f1f9;
    height: 400px;
    outline: none;
}

button{
    background-color: #004924;
    border: none;
    padding: 15px;
    margin-top:15px;
    margin-bottom: 15px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 150px;
    align-self: center;
}

button:hover{
    box-shadow: 5px 5px 5px 5px #d7d7d7;
    transition: all .5s;
}

.bouton{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    margin-top: 100px;
    background-color: #004924;
    width: 100%;
    min-height: 150px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
}


footer .information{
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_footer img{
    width: 100%;
    height: 95%;
}

footer h2{
    color: white;
}

footer ul{
    padding-top: 15px;
}

footer li{
    padding-top: 10px;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline white;
}

.localisation{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.localisation img{
    max-width: 80%;
    max-height: 280px;
}

nav{
    display: none;
}

@media screen and (max-width:990px){
    footer{
        display: block;
    }
    nav{
        display: flex;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: #004924;
    }

    nav ul li a{
        color: white;
    }
    .menu_plein{
        display: none;
    }
}






