.container{
    width: 100%;
    margin-top: 0;
    min-height: 100vh;
    margin-bottom: 150px;
}

.prestation{
    display: grid;
    margin: auto;
    width: 80%;
    min-height: 900px;
    height: 100%;
    background-color: white;
    grid-template-columns: 33% 33% 33%;
    position: relative;
    box-shadow: 15px 15px  15px 15px #d7d7d7 ;
    align-items: center;
    overflow: hidden;
    max-width: 1600px;
}

.card{
    min-height: 800px;
    margin: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.card:nth-child(1){
    background:linear-gradient(45deg,#000000,grey);
    color: white;
}

.card:nth-child(2){
    background:linear-gradient(45deg,orange,grey);
    color: white;
}

.card:nth-child(3){
    background:linear-gradient(45deg,red,grey);
    color: white;
}

.card_icons{
    text-align: center;
    font-size: 100px;
}

.card_icons i{
    color: white;
}

.card_title{
    text-align: center;
}

.card_title h2{
    color: white;
    padding: 40px;
}

.card_descript_text{
    text-align: center;
    width: 90%;
    margin-top: 20px;
    margin-left:5% ;
    word-wrap: break-word;
}

.card_descript_text p{
    color: white;
}

.card:hover hr{
    margin: 0;
    transition: margin .5s;
}

.card:hover{
    transform: perspective(200px)translate3d(0, 10px, 10px);
    box-shadow: #d7d7d7 5px 5px 5px 5px;
    transition: .50s;
}

.card_list{
    margin-top: 50px;
    margin-left: 40px;
}

.card_list i{
    padding: 5px;
    color: white;
}

.card_list li{
    color: white;
    padding: 10px;
}

.card hr{
    background-color: white;
    margin: 0 50px 0 50px;
    height: 2px;
}

.button{
    text-align: center;
}

.button a{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

#separateur{
    width: 50%;
    height: 10px;
    background-color: #004924;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.condition{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.condition hr{
    width: 40%;
    margin-left: 5px;
    margin: 15px 15px;
    height: 5px;
    border-radius: 3px;
    border: none;
    background-color: #004924;
}

.left{
    position: relative;
    background-color: white;
    width: 40%;
    padding: 10px 10px;
}
.left p{
    letter-spacing: 0.3px;
    padding: 5px 5px;
}

.left ul{
    margin-left: 4%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left ul li{
    padding: 3px 3px;
}

.border{
    position: absolute;
    top: -15px;
    left: -25px;
    width: 50px;
    background-color: #004924;
    height: 50px;
    box-shadow: 2px 2px 2px 2px  #004924;
    z-index: -1;
}


@media screen and (max-width: 1145px ){
    .prestation{
        width: 98%;
    }
}

@media screen and (max-width: 830px){
    .prestation{
        width: 80%;
        display: block;
    }
}

@media screen and (max-width:1000px){
    .condition{
        width: 95%;
        display: block;
    }
    .left{
        width: 80%;
        margin-bottom: 40px;
        margin: 50px auto;
    }
    .right{
        width: 80%;
        margin: auto auto;
    }
}

