.Location_Voiture{
    display: grid;
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: white;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    position: relative;
    box-shadow: 15px 15px  15px 15px #d7d7d7 ;
    align-items: center;
}

.border_haut{ 
    position: absolute;
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #004924;
    top: -5%;
    left: -3%;
    z-index: -1;
}

.border_bottom{
    position: absolute;
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #004924;
    bottom: -5%;
    right: -3%;
    z-index: 10;
}

.test_card{
    display: grid;
    margin: 5px 5px 5px 5px;
}

.test_card:hover{
    box-shadow: 5px 5px 5px 5px #d7d7d7;
    transition-duration: .50s;
}

.test_card img{
    min-width: 100%;
    max-width: 100%;
}


.test_card img:hover{
    filter : brightness(40%);
    transition-duration:.50s;
}
a:hover .test_card img {
    filter : brightness(40%);
    transition-duration:.50s;
}
.descript{
    text-align: center;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}




hr{
    width:50%;
    height: 10px;
    background-color: #004924;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.condition{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.condition hr{
    width: 40%;
    margin-left: 5px;
    margin: 15px 15px;
    height: 5px;
    border-radius: 3px;
    border: none;
}

.left{
    position: relative;
    background-color: white;
    width: 40%;
    padding: 10px 10px;
}
.left p{
    letter-spacing: 0.3px;
    padding: 5px 5px;
}

.left ul{
    margin-left: 4%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left ul li{
    padding: 3px 3px;
}

.border{
    position: absolute;
    top: -15px;
    left: -25px;
    width: 50px;
    background-color: #004924;
    height: 50px;
    box-shadow: 2px 2px 2px 2px  #004924;
    z-index: -1;
}   

@media screen and (max-width: 1000px){
    .Location_Voiture{
        width: 95%;
        grid-template-columns: 100%;
        grid-template-rows:none;
    }
    .border_bottom{
        display: none;
    }
    .border_haut{
        display: none;
    }
    .condition{
        width: 95%;
        display: block;
    }
    .left{
        width: 80%;
        margin-bottom: 40px;
        margin: 50px auto;
    }
    .right{
        width: 80%;
        margin: auto auto;
    }
}



