
.slider-nav a:nth-child(1){
    background-image: url("../images/camping/cp.jpg");
}
.slider-nav a:nth-child(2){
    background-image: url("../images/camping/cp1.jpg");
}
.slider-nav a:nth-child(3){
    background-image: url("../images/camping/cp2.jpg");
}
.slider-nav a:nth-child(4){
    background-image: url("../images/camping/cp3.jpg");
}
.slider-nav a:nth-child(5){
    background-image: url("../images/camping/cp4.jpg");
}
.slider-nav a:nth-child(6){
    background-image: url("../images/peugeot/p5.jpg");
}

.slider-nav a:hover {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
    transform: translateX(-650px);
}
#img3:target .slider-content {
    transform: translateX(-1300px);
}

#img4:target .slider-content {
    transform: translateX(-1950px);
}

#img5:target .slider-content {
    transform: translateX(-2600px);
}