* {
    margin:0;
    padding:0;
    text-decoration: none;
    color: black;
    list-style-type: none;

}

html{
    width: 100%;
}
body{
    width: 100%;
    background-color: #f1f1f9;
}
.navbar{
    height:80px;
    background-color:white;
    display:grid;
    grid-template-columns:50% 50%;
}


.reseaux{
    display:flex;
    justify-content:end;
}

.reseaux i{
    font-size: 40px;
    color: #004924;
    cursor: pointer ;
    margin: 15px 15px 0 0;
}

.reseaux i:hover{
    color: #151515;
    transition-duration: 0.5s;
}
.logo{
    display: flex;
}

.pages{
    display: flex;
    margin:auto auto auto 3%;
}

.pages a{
    font-size: 25px;
    margin:0 15px 0 0;
    text-decoration: none;
    cursor: pointer;
}

.pages a:hover{
    margin-top: -3px;
    border-bottom: 3px solid #004924;
}


.logo img{
    margin: 0px;
    width: 300px;
    height: 80px;
}

.logo img:hover{
    cursor: pointer;
}

.banniere{
    width: 100vw;
    height: 40vh;
    background-image: url("../images/banniere_208.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.inter{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.inter a{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    color: black;
}

.container{
    position: relative;
    display: flex;
    margin: auto;
    max-width: 1300px;
    background-color: white;
    margin-bottom: 150px;
    box-shadow: 15px 15px  15px 15px #d7d7d7 ;
    height: 100%;
} 
.border_haut{ 
    position: absolute;
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #004924;
    top: -5%;
    left: -3%;
    z-index: -1;
}

.border_bottom{
    position: absolute;
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #004924;
    bottom: -5%;
    right: -3%;
    z-index: 0;
}
/*slider*/
.slider {
    margin-right: 15px;
    margin-left: 15px;
}

.slider-viewport {
    margin-top: 15px ;
    width: 650px;
    height: auto;
    overflow: hidden;
}

.slider-content {
    display: grid;
    grid-auto-flow: column;
    transition: 1s all;
}
.slider-content img {
    width: 650px;
    height: auto;
}

.slider-nav {
    width: 100%;
}
.slider-nav a {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin:  3px;
}

.slider-nav a:nth-child(1){
    background-image: url("../images/trafic/trafic.jpg");
}



.slider-nav a:hover {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
    transform: translateX(-650px);
}
#img3:target .slider-content {
    transform: translateX(-1300px);
}

#img4:target .slider-content {
    transform: translateX(-1950px);
}

#img5:target .slider-content {
    transform: translateX(-2600px);
}


/*information a droite du slider en grand ecran*/
.aside_info{
    width: 100%;
    margin-top: 15px;
}

.aside_info .title_aside{
    width: 100%;
    text-align: center;
}
.aside_information{
    padding: 0;
    margin: 30px 0 0 0;
}

.aside_information h2{
    color: grey;
    opacity: 60%;
    font-size: 30px;
}

.aside_information ul{
    margin-top: 50px;
}

.aside_information li{
    padding: 20px;
}

.button{
    z-index: 10;
    margin-top: 50px;
}

.button a{
    color: white;
    background-color: #004924;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button a:hover{
    box-shadow: 5px 5px 5px 5px #d7d7d7;
    transition: all .5s;
}
.sous_menu{
    display: none;
}
@media screen and (max-width: 1300px) {
    .container{
        width: 90vw;
    }
}

@media screen and (max-width: 1000px){
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 1068px){
    .container{
        display: block;
    }

    .slider{
        margin-top: 15px;
    }
    .aside_information{
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .pages{
        display: none;
    }
    .menu_plein{
        display:none;
    }
    .sous_menu{
        display: block;
    }
}


@media screen and (max-width: 760px){
    .aside_information h2{
        color: grey;
        opacity: 60%;
        font-size: 30px;
    }



    .aside_information ul{
        margin-top: 5%;
    }

    .aside_information li{
        padding: 10px;
    }

    .slider-viewport {
        margin-top: 15px ;
        width: 100%;
        height: 450px;
    }

    .slider{
        margin: 0;
    }
    .slider-nav{
        text-align: center;
    }
    .border_haut{
        display: none;
    }
    .border_bottom{
        display: none;
    }
}


footer{
    margin-top: 100px;
    background-color: #004924;
    width: 100%;
    min-height: 150px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
}


footer .information{
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_footer img{
    width: 100%;
    height: 95%;
}

footer h2{
    color: white;
}

footer ul{
    padding-top: 15px;
}

footer li{
    padding-top: 10px;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline white;
}

.localisation{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.localisation img{
    max-width: 80%;
    max-height: 280px;
}

@media screen and (max-width:990px){
    footer{
        display: block;
    }
}


nav{
    display: none;
}

@media screen and (max-width:990px){
    footer{
        display: block;
    }
    nav{
        display: flex;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: #004924;
        z-index: 100;
    }

    nav ul li a{
        color: white;
    }
    .menu_plein{
        display: none;
    }
}