
.slider-nav a:nth-child(1){
    background-image: url("../images/vito/vito.jpg");
}
.slider-nav a:nth-child(2){
    background-image: url("../images/vito/vito2.jpg");
}
.slider-nav a:nth-child(3){
    background-image: url("../images/vito/vito3.jpg");
}
